:root {
  --main: #FF9410;
  --secondary: #E6C417;
  --third: #70E000;
  --fourth: #63B1C7;
  --g1: #171717;
  --g2: #21282C;
  --g3: #2A2840;
  --g4: #3C4C55;
  --g5: #4E5C64;
  --g6: #5E6B72;
}

* {
  margin: 0;
  padding: 0;
}

main {
  height: 100lvh;
  width: 100lvw;
}

.img-cards {
  height: 100%;
  width: 100%;
}

.aside-cards {
  width: 15rem;
  float: left;
  background-color: var(--g3);
}

.ul-cards {
  height: 100lvh;
  list-style: none;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 20% 10% 20% 10% 20% 10%;
}

.li-cards {
  grid-column: 2 / 3;
  border: solid .2rem var(--g1);
}

.li-cards:hover {
  display: pointer;
}

.list-cards1 {
  grid-row: 2 / 3;
}

.list-cards2 {
  grid-row: 4 / 5;
}

.list-cards3 {
  grid-row: 6 / 7;
}

.h3-cards {
  position: absolute;
  margin: -1.5rem 2rem;
  font-display: bold;
  z-index: 1;
  pointer-events: none;
}